
header{
    background: #122A73;

}
    .enunciado{
        font-size: 55px;
        margin: 10px 0;
    }

img{
    height: 64px;
}
 table{
    margin: 0 auto;
 }


input[type="text"], input[type="email"], textarea {    
    width: 100%;
}

select[name="status"], select[name="bloq"]{
    width: 30%;
}

.container {
    margin-top: 30px;
    position: relative;
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}th{
    width: 20%;
    background-color: #336699;
    color: white;
    font-weight: bold;
    padding: 8px;
    border: 1px solid lightgray;
    text-align: left;
    vertical-align: middle;
   
}

td{
    padding-right: 14px;
    width: 80%;

}



